@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	outline: none;	
}

html, body {
	font-family: Optima-Thin, Optima, Arial, Helvetica, sans-serif;
	background: #e6ebf2;	
}

.fb-likeWrapper {
	margin: 20px 0 0 240px;
}

#contentWrapperWrapper {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 850px;
	padding: 1px;
	background: #9cbbf4;	
}

#contentWrapper {
	width: 810px;
	padding: 20px;
	background: #fff;	
}

#content {
	width: 810px;
	margin: 0 auto;
}

#upper, #upper2 {
	width: 100%;
	height: 775px;	
	position: relative;
	color: #fff;
}

#upper {
	background: url(../img/upper-bg.png) repeat-x;	
}

#tryLindt {
	width: 200px;
	height: 72px;	
	position: absolute;
	top: 6px;
	left: 0;
	z-index: 9;
}

#tasteTheDifference {
	position: relative;
	z-index: 8;	
	padding: 64px 0 0 0;
	font-size: 2.7em;
	font-weight: bold;
	font-family: Optima-Bold, Optima, Arial, Helvetica, sans-serif;
}

#products {
	margin: 0 0 0 86px;
}

#productInfoWrapper {
	width: 356px;
	float: left;	
	text-align: left;
	margin: 50px 0 0 0;
}

#productInfo {
	height: 94px;
	padding: 16px 0 0 28px;
	width: 300px;
}

#productImgs {
	float: left;
	margin: 8px 2px 0 0;
}

.productImgWrapper {
	float: left;	
}

.p1, .p2, .p3 {
	display: none;
}

.pI1, .pI2, .pI3, .pI4 {
	display: none;
}

#excellenceWrapper {
	background: url(../img/lindt-excellence-wrapper.png);
	width: 75px;
	height: 232px;	
}

#excellence {
	background: url(../img/lindt-excellence.png);
	width: 75px;
	height: 232px;	
}

#milkWrapper {
	background: url(../img/lindt-milk-wrapper.png);
	width: 99px;
	height: 232px;	
}

#milk {
	background: url(../img/lindt-milk.png);
	width: 99px;
	height: 232px;	
}

#classicWrapper {
	background: url(../img/lindt-classic-wrapper.png);
	width: 78px;
	height: 232px;	
}

#classic {
	background: url(../img/lindt-classic.png);
	width: 78px;
	height: 232px;	
}

.bgLine, .bgLine2 {
	background: #98794b;
	height: 1px;	
	margin: 0 0 8px 0;
	display: block;
}

.bgLine {
	width: 326px;	
}

.bgLine2 {
	width: 356px;	
}

#lowerWrapperWrapper {
	background: #381f0e;
	padding: 1px 0 0 0;
}

#lowerWrapper {
	background: #3f2d1a;
	padding: 1px 0 0 0;
}

#lower {
	width: 100%;
	height: 92px;		
	background: #231f20;
}

#lindtLogoWrapper {
	width: 612px;	
	margin: 0 auto;
	padding: 10px 0 0 0;
}

#lindtLogo {
	width: 242px;
	height: 66px;
	float: left;
	margin: 0 58px 0 0;
}

#chocBeyond {
	width: 312px;
	height: 38px;
	margin: 18px 0 0 0;
	float: left;
}

#footer {
	width: 100%;
	height: 25px;
	padding: 7px 0 0 0;
	margin: 22px 0 0 0;
	background: #ede1c4;
	color: #31170e;	
	font-weight: bold;
	font-family: Optima-Bold, Optima, Arial, Helvetica, sans-serif;
}

#footer a, #footer a:link, #footer a:visited, {
	color: #31170e;	
	text-decoration: none;
}

#footer a:hover {
	color: #795f56;
}

#footer > ul > li > a {
	color: #31170e;	
	text-decoration: none;
}

#footer > ul {
	margin: 0 auto;
	width: 300px;	
}

#footer > ul, #footer > ul > li {
	list-style-type: none;	
}

#footer > ul > li {
	float: left;
}

.footerNavDiv {
	margin: 0 12px 0 12px;	
}

.clear {
	clear: both;
	height: 0;	
}